<!DOCTYPE html>
<html lang="en">
    <head>
        <br>
    </head>
    <body>
        <div id="register">
            <form>
                <label>Nickname<br></label>
                <input type="text" name="nickname" id="nickname">
                <input type="button"  onclick="register()" value="Play">
            </form>
        </div>

        <div id="board">
            <ul id="messages"></ul>
        </div>

        <div id="game">
        </div>
    </body>
    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/socket.io.js"></script>
    <script src="js/common.js"></script>
</html>